
<form [formGroup]="formData" (ngSubmit)="onSubmit()">
    <h3>Title</h3>
    <input type="text" formControlName="title">

    <h3>completed</h3>
    <input type="number" formControlName="completed">

    <h3>Archive</h3>
    <input type="number" formControlName="archive">
    <br><br>
    <input type="submit" value="POST">
</form>
<div *ngIf="message">
{{message}}
</div>