
<button (click)="btnClick()">{{showData?'Hide':'show'}}</button>

<div *ngIf="showData">
<div *ngFor="let todo of allTodos" class="present">
    <h2>{{todo.id}}, {{todo.completed}} </h2>
    <p>{{todo.title}}</p>
</div>
</div>

